{% extends "website/base.html" %}
{% load static %}

{% block head %}

<title>PANY | Product Category List</title>

<meta name="author" content="themsflat.com">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="{% static 'website/stylesheet/style.css' %}">

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="{% static 'website/stylesheet/responsive.css' %}">





{% endblock %}

{% block body %}

{% endblock %}

{% block mainnav %}
<div class="nav-wrap">
  <nav id="mainnav" class="mainnav">
    <ul class="menu">
      <li>
        <a class="text-shadow1" href="{% url 'website:home' %}" title="">HOME</a>
      </li>
      <li>
        <a class="text-shadow1" href="{% url 'website:brand_list' %}" title="">BRANDS</a>
      </li>
      <li>
        <a class="text-shadow1" href="{% url 'website:project_list' %}" title="">PROJECTS</a>
      </li>
      <li class="active">
        <a class="text-shadow1" href="{% url 'website:category_list' %}" title="">PRODUCTS</a>
      </li>
      <li>
        <a class="text-shadow1" href="{% url 'website:about_us' %}" title="">ABOUT US</a>
      </li>
      <li>
        <a href="{% url 'website:contact_us' %}">CONTACT US</a>
      </li>
      <li>
        <a class="text-shadow1" href="{% url 'library:pdffile_list' %}" title="">DOCUMENTS</a>
      </li>
    </ul><!-- /.menu -->
  </nav> <!-- /#mainnav -->
</div> <!-- .nav-wrap -->
{% endblock %}

{% block content %}

<div class="page-title">
    <div id="background" style="">
        <img  src="{% for i in theme %}   {{ i.header_background_productURL }} {% endfor %}" class="stretch" alt="" />
    </div>
  <div class="overlay"></div>
  <div class="container">
    <div class="page-title-content text-center">
      <div class="page-title-heading ">
        <h3 class="title"><a href="{% url 'website:category_list' %}">PRODUCTS</a></h3>
      </div>
      <div class="breadcrumbs">
        <ul>
          <li class="home"><a href="{% url 'website:home' %}">Home</a></li>
          <li><a href="{% url 'website:category_list' %}">Products</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /.page-title -->


{% if show_categories %}
<section class="flat-services style3 pd-top-10 ">

  <h2 class="title center-title text-center py-3">Categories</h2>
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex flat-imagebox clearfix ">


        {% for category in ct1 %}

        <div class="imagebox imagebox-service style3">
          <div class="imagebox-border">
            <div class="imagebox-image">
              <a href="{% url 'website:product_list_by_category' category.slug  %}"><img src="{{ category.image_1URL }}" alt="PANY" ></a>
            </div>
            <div class="imagebox-content">

                  <h6 class="font-weight-bold heading text-white bg-light" style=""><a href="{% url 'website:product_list_by_category' category.slug  %}">{{ category.name|truncatechars:50 }}</a></h6>

            </div>
          </div>
        </div> <!-- /.imagebox -->
        {% endfor %}

      </div> <!-- /.flat-imagebox -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>



<section class="flat-services style3 ">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex flat-imagebox clearfix ">


        {% for category in ct2 %}
        <div class="imagebox imagebox-service style3">
          <div class="imagebox-border">
            <div class="imagebox-image">
              <a href="{% url 'website:product_list_by_category' category.slug  %}"><img src="{{ category.image_1URL }}" alt="PANY" ></a>
            </div>
            <div class="imagebox-content">

                  <h6 class="font-weight-bold heading text-white bg-light" style=""><a href="{% url 'website:product_list_by_category' category.slug  %}">{{ category.name|truncatechars:50 }}</a></h6>

            </div>
          </div>
        </div> <!-- /.imagebox -->
        {% endfor %}

      </div> <!-- /.flat-imagebox -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>


<section class="flat-services style3 ">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex flat-imagebox clearfix ">


        {% for category in ct3 %}
        <div class="imagebox imagebox-service style3">
          <div class="imagebox-border">
            <div class="imagebox-image">
              <a href="{% url 'website:product_list_by_category' category.slug  %}"><img src="{{ category.image_1URL }}" alt="PANY" ></a>
            </div>
            <div class="imagebox-content">

                  <h6 class="font-weight-bold heading text-white bg-light" style=""><a href="{% url 'website:product_list_by_category' category.slug  %}">{{ category.name|truncatechars:50 }}</a></h6>

            </div>
          </div>
        </div> <!-- /.imagebox -->
        {% endfor %}

      </div> <!-- /.flat-imagebox -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>



<section class="flat-services style3 pd-bottom-10">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex flat-imagebox clearfix ">


        {% for category in ct4 %}
        <div class="imagebox imagebox-service style3">
          <div class="imagebox-border">
            <div class="imagebox-image">
              <a href="{% url 'website:product_list_by_category' category.slug  %}"><img src="{{ category.image_1URL }}" alt="PANY" ></a>
            </div>
            <div class="imagebox-content">

                  <h6 class="font-weight-bold heading text-white bg-light" style=""><a href="{% url 'website:product_list_by_category' category.slug  %}">{{ category.name|truncatechars:50 }}</a></h6>

            </div>
          </div>
        </div> <!-- /.imagebox -->
        {% endfor %}

      </div> <!-- /.flat-imagebox -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>

{% endif %}

<!-- S/2022-10-15 (001) -->



    <div class="container-fluid  pt-3 bg-light" >
<h2 class="title center-title text-center pb-2 ">Product Search</h2>
        <form class=""  method="get">
            <div class="row justify-content-center">
              <div class="row justify-content-start pl-4 ">

                <div class="col-auto d-flex justify-content-center">
                  <span class="p-2">Name: </span>
                  {{ myFilter.form.name }}
                </div>

                <div class="col-auto d-flex justify-content-between">
                  <span class="p-2">Brand: </span>
                  {{ myFilter.form.brand }}
                </div>

                <div class="col-auto d-flex justify-content-between">
                  <span class="p-2">Category: </span>
                  {{ myFilter.form.category }}
                </div>

                <div class="col-auto d-flex justify-content-between">
                  <span class="p-2">Description: </span>
                  {{ myFilter.form.description }}
                </div>
                <div class="col-auto">

                  <button  type="submit" name="button"> Search Products </button>
                </div>

              </div>
            </div>


        </form>
    </div>

  <br>
    <center>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center mb-3 pb-3">
                <p class="woocommerce-result-count">
                    Total: {{ product_count }} results
                </p>
                <div class="row">

                    {% for product in products %}
                        <div class="col m-2">
                            <a href="{{ product.get_absolute_url }}">

                                <div class="p-2 zoom">
                                  <img class="img-thumbnail" src="{{ product.image_1URL }}" alt="product" style="max-width:200px; max-height:200px;">

                                </div>
                                <br>
                                <div class="text-center">
                                  <p>{{ product.name|truncatechars:18 }}</p>
                                </div>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </center>
  <div class="pagination row d-flex justify-content-center" style="background-color: #d0d9c4">
    <span class="step-links font-weight-bold p-2" >
      {% include "pagination.html" with page=products %}
    </span>
  </div>


<!-- E/2022-10-15 (001) -->







{% endblock %}

  {% block partners %}
  {{ block.super }}
  {% endblock %}

{% block js %}

<!-- Javascript -->
<script   src="{% static 'website/javascript/dclock.js' %}"></script>
<script   src="{% static 'website/javascript/jquery.min.js' %}"></script>
<script   src="{% static 'website/javascript/plugins.js' %}"></script>
<script   src="{% static 'website/javascript/bootstrap.min.js' %}"></script>
<script   src="{% static 'website/javascript/flex-slider.min.js' %}"></script>
<script   src="{% static 'website/javascript/jquery-countTo.js' %}"></script>
<script   src="{% static 'website/javascript/equalize.min.js' %}"></script>
<script   src="{% static 'website/javascript/jquery.validate.min.js' %}"></script>
<script   src="{% static 'website/javascript/main.js' %}"></script>



<!-- Owl carousel js -->
<script src="{% static 'website/javascript/owl.carousel.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'website/rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'website/javascript/rev-slider.js' %}"></script>
<!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'website/rev-slider/js/extensions/revolution.extension.video.min.js' %}"></script>

{% endblock %}
